#container {
    background-color: grey;
    height: 600px;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}

.item {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 25%;
    border-style: dotted;
    margin: 3px;
    font-size:50px;
}

.item-1 {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items:center;
    order: 2;
}

.item-2 {
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items:center;
}

.item-3 {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items:center;
    order: 1;
}

.item-4 {
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    align-items:center;
}

.item-5 {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items:center;
}

